* {
    padding: 0%;
    margin: 0%;
}

h1 {
    text-align: center;
    background-color: rgb(18, 7, 92);

    color: white;
}

h2 {
    color: rgb(255, 255, 255);
}

body {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input {

    border: 2px solid rgb(1, 1, 1);
    box-sizing: border-box;
    width: 40%;
    background-color: white;
    margin: 7px;
}

#student_detail_form {
    display: inline;
    font-size: x-large;
    margin: 6rem 4rem 0 9rem;
    float: left;
    border: 2px solid #ccc;
    background-color: skyblue;
    width: 40%;
}

#endrolled_student_details {
    display: inline;
    float: center;
    margin: 1rem 6rem 5rem;
}

input[type="text"] {
    height: 2rem;
    width: 25rem;
    font-size: medium;
    border-radius: .6rem;
}

input[type="checkbox"] {
    transform: scale(1.5);
    width: 2rem;
}

td {
    width: 10rem;


}

th {
    background-color: rgb(43, 223, 226);
    color: black;
}

#details_table {
    background-color: chartreuse;
    border: 2px solid black;
    border-collapse: collapse;
    overflow: scroll;
}

th {
    border: 1px solid violet;
    border-collapse: collapse;
    font-size: x-large;
}

#details_table tr {


    overflow: scroll;
}

#details_table td {
    border: 1px solid salmon;
    text-align: center;
    width: 20rem;
    font-size: 1.2 rem;


}

#endroll_button {
    font-size: large;
    background-color: springgreen;
    color: rgb(18, 7, 92);
    font-weight: bold;
    padding: 00.5rem 3rem;
    margin-top: 20px;
    border-radius: 1.5rem;
    cursor: pointer;

}

#endroll_button:hover {
    background-color: rgb(1, 83, 14);

}

#clear_button {
    font-size: large;
    background-color: springgreen;
    color: rgb(18, 7, 92);
    font-weight: bold;
    padding: 0.5rem 3rem;
    margin-top: 20%;
    border-radius: 1.5rem;
    cursor: pointer;

}

#clear_button:hover {
    background-color: rgb(1, 83, 14);

}